@page
@model StudentRazorPages.Pages.Students.DeleteStudent
@using StudentRazorPages.Models
@{
}
<h1>Delete student</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label class="col-sm-2 contorl-label"></label>
        <div class="col-sm-.10">
            <button type="submit" class="border-light">Delete student!</button>
        </div>
    </div>
</form>